body {
    margin: 0;
    text-align: center;
    font-family: "Fantasy",Fantasy,Arial,sans-serif
    }

h1 {
    font-size: 562.5%;
    margin-top: 50px 0px 0 auto;
    }

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    }

.middle-container {

    }


.bottom-container {

    }

.bottom-cloud {
    position: absolute;
    left: 25%;
    bottom: 300px;
    }

.description {
    font-size: 2.5rem;
}

.hacker {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.python {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.security-camera {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.top-cloud {
    position: absolute;
    right: 25%;
    top: 50px;
    }
